//Size

$desktopWidth : 1280px;
$smDesktopWidth : 980px;
$tableWidth : 768px;
$phoneWidth : 480px;
$smPhoneWidth : 320px;

//Font

$mainFont : 'Montserrat', Helvetica, Arial, sans-serif;
$mainFontColor : rgb(255, 255, 255);
$mainFontSize : 18px;
$mainFontWeight: 400;
$mainLineHeight: 1.5;